#reportButtons button {
  height:50px;
  color:white;
  background-color: var(--test11);
  width:30%;
}

#reportButtons{
  text-align:center;
}

.categoryName{
    font-size:25px;
}

#meldingScherm{
  display:none;
  border:0px;
}

#meldingScherm td{
 background:var(--tableHead);
}

#meldingScherm th{
 background:var(--tableHead);
 color:var(--blue);
 padding:10px;
 width:100%;
}

input, textarea{
  width:400px;
  margin-right:15px;
}

textarea{
  height:100px;
}

#verzendButton{
    margin-top:15px;
  height:50px;
  width:100%;
  background: var(--test11);
  color:white;
  font-size: 20px;
}
