maincontainer{
    border-radius: 4vmin 4vmin 0 0;
    display: grid;
    grid-template-columns:1fr 7fr 1fr;

}

headcontainer{
    border-radius: 4vmin 4vmin 0 0;
    background-color: var(--tableHead);
    grid-column: 0/1;
    grid-row: 0;
}

empty {
    background-color: #fff;
}

infocontainer {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: var(--basicBG);
    grid-column: 0/1;

    display: grid;
    padding: 4vmin;
    grid-row-gap: 2vmin;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
