
maincontainer{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:1fr 7fr 1fr;
}

centercontainer{
    background-color: var(--basicBG);
    border-radius: 4vmin 4vmin 4vmin 4vmin;
    grid-column: 2;
    display: grid;
    grid-row-gap: 4vmin;
    grid-template-rows: 1fr 8fr;
}

headcontainer{
    border-radius: 4vmin 4vmin 0 0;
    background-color: var(--tableHead);
    grid-row: 0;
}

headcontainer h1{
    margin-left: 16vmin;
}

headcontainer p{
    margin-left: 16vmin;
}


headcontainer img{
    /* margin-left: 25vw; */
    margin-top: 3vmin;
    margin-left: 2vmin;
}

table {
    width: 100%;
}

empty {
    background-color: #fff;
}

infocontainer {
    padding: 4vmin;
    background-color: var(--basicBG);
}
